<h1>Configure Routing</h1>
<div class="menu">
    <input [(ngModel)]="rouConfig.currentConfig.rip.enabled" type="checkbox" class="checkbox">
    <p>Enable RIP</p>
    <div *ngIf="rouConfig.currentConfig.rip.enabled" class="submenu">
        <p>Version:</p>
        <input #version [(ngModel)]="rouConfig.currentConfig.rip.version" (change)="onChangeVersion(version.value)"
            type="number" min=1 max=2>
        <br>
        <p>Networks:</p>
        <div *ngFor="let network of rouConfig.currentConfig.rip.networks; index as i; trackBy:trackByFn">
            <p>Network:</p>
            <input [(ngModel)]="rouConfig.currentConfig.rip.networks[i]" pattern="\d{1,3}(\.\d{1,3}){3}" type="text">
            <button (click)="onRemoveNetwork(i)">-</button>
        </div>
        <div>
            <button (click)="onAddNetwork()">Add Network</button>
        </div>
        <div>
            <p>Advertise Default Routes:</p>
            <input class="checkbox" type="checkbox"
                [(ngModel)]="rouConfig.currentConfig.rip.defaultInformationOriginate">
        </div>
        <br>
        <p>Passive Interfaces:</p>
        <input #def type="checkbox" class="checkbox" (change)="onDefaultPassive(def.checked)">
        <p>Default</p>
        <ng-container *ngIf="!def.checked">
            <div *ngFor="let int of rouConfig.currentConfig.rip.passiveInterfaces; index as i; trackBy:trackByFn">
                <p>Interface:</p>
                <select [(ngModel)]="rouConfig.currentConfig.rip.passiveInterfaces[i]">
                    <option *ngFor="let avint of avInterfaces.getAllInterfaces()">{{avint}}</option>
                </select>
                <button (click)="onRemovePassiveInterface(i)">-</button>
            </div>
            <button (click)="onAddPassiveInterface()">Add passive interface</button>
        </ng-container>
        <br>
        <ng-container *ngIf="version.value == 2">
            <input [(ngModel)]="rouConfig.currentConfig.rip.routeSummerization" type="checkbox" class="checkbox">
            <p>Route Summarization</p>
        </ng-container>
    </div>
</div>
<div>
    <button (click)="onSave()">Save</button>
    <button routerLink="/">Cancel</button>
</div>