<div>
    <p>Hostname:</p>
    <input [(ngModel)]="genConfig.currentConfig.hostname" type="text">
</div>
<div>
    <p>Banner:</p>
    <input [(ngModel)]="genConfig.currentConfig.banner">
</div>
<div>
    <p>Global Configuration Password</p>
    <input [(ngModel)]="genConfig.currentConfig.enableSecret" type="password"><br>
</div>
<div>
    <input [(ngModel)]="genConfig.currentConfig.passwordEncryption" class="checkbox" type="checkbox">
    <p>Password Encryption</p>
    <br>
</div>
<div>
    <input [(ngModel)]="genConfig.currentConfig.cdprun" class="checkbox" type="checkbox">
    <p>CDP on all Interfaces</p>
</div>
<button routerLink="/" (click)="onSave()">Save</button>
<button routerLink="/">Cancel</button>