div{
    padding: 1em;
}

p, input{
    display: inline-block;
}

p{
    width: 15%;
    color:gray;
}

input{
    height: 2em;
    width: 20em;
}

.checkbox{
    height: auto;
    width: 2.5em;
}

.collapse{
    border: 1px solid black;
    padding: 0px;
    margin-bottom: 1em;
}

.menu{
    border:1px solid black;
}

.submenu{
    margin-top:-2em;
}

.radioOption{
    height:auto;
}

.radioText{
    width: auto;
    margin-left: -7em;
    padding-left:0px;
}