<div *ngFor="let int of intConfig.getInterfaces(); index as i" class="collapse">
    <collapsable
        [title]="intConfig.getInterfaces()[i]==null?'Interface has yet to be selected':intConfig.getInterfaces()[i].getTitle()"
        (edit)="onEditInterface(i)" (remove)="onRemoveInterface(i)">
        <div>
            <p>IP-Address:</p><input #ip [(ngModel)]="intConfig.currentConf[i].ip" pattern="\d{1,3}(\.\d{1,3}){3}">
            <p>Subnetmask:</p><input #subnetmask [(ngModel)]="intConfig.currentConf[i].subnetmask"
                pattern="\d{1,3}(\.\d{1,3}){3}|\/[1-2][0-9]|\/3[0-2]|\/[1-9]">
        </div>
    </collapsable>
</div>
<br>
<button (click)="onAddInterface()">Add Interface Configuration</button>
<div>
    <button (click)="onSave()">Save</button>
    <button routerLink="/">Cancel</button>
</div>