.header{
    background: green;
    opacity: 0.5;
    display: block;
    padding: 1%;
    width: 90%;
}

p{
    display: inline-block;
}

p.remove{
    margin-left: 62em;
}

p.edit{
    margin-left:2em;
}